.create-task-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__h1 {
    }
    .task-data {
        width: 50%;
        &__input {
        }
    }
}
